.container {
    margin-top: 6% !important;
}

#logo {
    width: 75%;
    height: 65%;
}

#containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    width: 100%;
}

button {
    width: 10rem;
    height: 3rem;
}

#login {
    margin-left: 10%;
}

#register {
    margin-right: 10%;
}
