.filter {
    margin-top: 2%;
    height: 100%;
}

option {
    text-align: center;
}

body {
    font-family: 'Playfair Display', serif;
}

.fountain {
    margin-bottom: 3%;
    padding: 2%;
    text-transform: lowercase;
}

button::first-letter {
    text-transform: uppercase;
}

.button-fountain {
    width: 100%;
    background: transparent;
    border-radius: 15px;
}

.information-fountain {
    border: 1px solid black;
    visibility: hidden;
}

.information-fountain-scroll {
    border: 1px solid black;
    visibility: hidden;
    margin-top: 5%;
}

.menu-fixed {
    position:fixed;
    z-index:1000;
    top:0;
    width: 77%;
    margin-top: 1% !important;
    height: 0;
}

.button-favorite {
    background: url(./Images/star-empty.png) no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    border: none;
}

.button-favorite-on {
    background: url(./Images/star.png) no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    border: none;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#map {
    height: 200px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }